<div ng-controller="loginSingupCtrl as loginSingupVM">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1>Inicia sesión o registrate</h1>
                <div class="description">
                    <p>
                        Es muy sencillo, solo tienes que introducir un nombre para tu usuario, un email valido y una contraseña y podrás empezar a crear votaciones.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">

                <div>

                    <div class="form-top-left">
                        <h3>Inicar sesión</h3>
                        <p>Entra con tu usuario y contraseña:</p>
                    </div>
                    <div class="alert alert-warning" ng-if="loginSingupVM.usuarioNoValido">
                        {{loginSingupVM.usuarioNoValido}}
                    </div>
                    <div class="form-bottom">
                        <form role="form" ng-submit="loginSingupVM.login()" name="loginForm">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input ng-model="loginSingupVM.user.userName" type="text" name="form-username" placeholder="Usuario..." class="form-control" id="form-username" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input ng-model="loginSingupVM.user.password" type="password" name="form-password" placeholder="Contraseña..." class="form-control" id="form-password" required>
                            </div>
                            <button type="submit" class="btn">Entrar!</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 middle-border"></div>
            <div class="col-sm-1"></div>

            <div class="col-sm-5">
                <div>
                    <div>
                        <h3>Crea una cuenta</h3>
                        <p>Rellene el siguiente formulario para obtener acceso instantáneo :</p>
                    </div>
                    <div class="alert alert-danger" ng-if="loginSingupVM.errorRegistro">
                        {{loginSingupVM.errorRegistro}}
                    </div>
                    <form ng-submit="loginSingupVM.submit()" name="userForm" id="userForm" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="regUserName">Nombre de usuario</label>
                            <input type="text" ng-model="loginSingupVM.userReg.userName" pattern=".{3,}" title="Nombre de usuario demasiado corto" required name="regUserName" placeholder="nombre de usuario..." class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="email">Email</label>
                            <input type="email" ng-model="loginSingupVM.userReg.email" required name="email" class="form-control" placeholder="email ...">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="password">password</label>
                            <input ng-model="loginSingupVM.userReg.password" pattern=".{6,10}" title="la contraseña deve tener entre 6 y 12 caracteres" required type="password" placeholder="contraseña..." class="form-control" name="password">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="password">repeat password</label>
                            <input ng-model="loginSingupVM.rePassword" pattern=".{6,10}" title="la contraseña deve tener entre 6 y 12 caracteres" required type="password" placeholder="repite la contraseña..." class="form-control" name="rePassword">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn">crear cuenta!</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
