<div ng-controller="dashboardCtrl as dashboardVM">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Bienvenido
            {{dashboardVM.usuario.userName}}</h1>

        <div class="row placeholders">



            <div class="col-xs-12 col-sm-6 placeholder" width="200">
                <canvas id="bar" class="chart chart-bar" chart-data="dashboardVM.data" chart-labels="dashboardVM.labels">
                    chart-series="series"
                </canvas>
                <span class="text-muted">Tus 10 Polls más votadas</span>
            </div>

        </div>

        <h2 class="sub-header">Polls creadas</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Es publica</th>
                        <th>Ver enlace</th>
                        <th>Invitar</th>
                        <th>Publicar</th>
                        <th>Resultados</th>
                        <th>editar</th>
                        <th>borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="poll in dashboardVM.polls">
                        <td>{{$index + 1}}</td>
                        <td>{{poll.name}}</td>
                        <td>
                            <p ng-if="poll.isPublic">
                                <button ng-click="dashboardVM.cambiarEstadoPoll(poll)" type="button" class="btn btn-succes btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    abierta
                                </button>
                            </p>
                            <p ng-if="!poll.isPublic">
                                <button ng-click="dashboardVM.cambiarEstadoPoll(poll)" type="button" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-close"></span>
                                    cerrada
                                </button>
                            </p>
                        </td>
                        <td>
                            <button ng-click="dashboardVM.verEnlacePoll(poll)" type="button" data-toggle="modal" data-target="#enlaceModal" class="btn btn-default btn-sm">ver enlace</button>
                        </td>
                        <td>
                            <button ng-if="poll.published" ng-click="dashboardVM.selectPoll(poll)" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#invModal">invitar</button>
                        </td>
                        <td>
                            <p>
                                <button ng-disabled="poll.published" ng-click="dashboardVM.publicar(poll)" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-share"></span>
                                </button>
                            </p>
                        </td>
                        <td>
                            <button ng-if="poll.published" ui-sref="resultados({pollId:poll._id})" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                        <td>
                            <p>
                                <button ng-disabled="poll.published" ui-sref="createEditPoll({pollId:poll._id})" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </p>
                        </td>
                        <td>
                            <p>
                                <button ng-click="dashboardVM.borrarPoll(poll, $index)" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- invModal -->
    <div id="invModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Invitar</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="input-group c-search">
                                    <input ng-model="dashboardVM.strUsuarioBuscar" ng-change="dashboardVM.buscarUsuario()" type="text" class="form-control" placeholder="nombre de usuario...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search text-muted"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="usuario in dashboardVM.listaBusqueda">
                                        {{usuario.userName}}
                                        <button ng-click="dashboardVM.invitar(usuario)" type="button" class="btn btn-success btn-sm">invitar</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

    <!-- invModal -->
    <div id="enlaceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enlace</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group c-search">
                        <input ng-model="dashboardVM.enlace" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-link text-muted"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
