<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="loro" src="images/parrot.png" alt="loro"/>
            <a class="navbar-brand" href="#">
                Parrot Poll</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/login">
                    <span class="glyphicon glyphicon-user"></span>
                    Sign Up</a>
            </li>
            <li>
                <a href="#/login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center cabecera">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div ng-controller="indexCtrl" class="container contenido">
    <div class="row">
        <div ng-repeat="poll in polls" class="col-sm-4">
            <div ng-click="redirectPoll(poll)" class="poll-item" ng-class-odd="'odd-item'" ng-class-even="'even-item'">
                <h3>{{poll.name}}</h3>
                <p>{{poll.description}}</p>
                <p>{{poll.creationDate}}</p>
            </div>
        </div>
    </div>
</div>
