<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navBarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="loro" src="images/parrot.png" alt="loro"/>
            <a class="navbar-brand" href="#/home">
                Parrot Poll</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="!user">
                <a href="#/entrar">
                    <span class="glyphicon glyphicon-user"></span>
                    Mi cuenta</a>
            </li>
            <li ng-show="user!=undefined" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">Hola
                    {{user.userName}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#/dashboard">Dashboard</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a ng-click="logOut()">log out
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show="user!=undefined" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">invitaciones
                    {{invitaciones.length}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="invitacion in invitaciones">
                        <div class="container">
                            <span>{{invitacion.pollText}}
                                por
                                {{invitacion.fromName}}</span>
                            <button type="button" class="btn btn-default" ui-sref="pollResult({pollId:invitacion.pollRef, inv:invitacion._id})">ok</button>
                            <button type="button" class="btn btn-danger" ng-click="rechazarInvitacion(invitacion, $index)">no</button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
