<div class="container" ng-controller="resultadosCtrl as resultadosVM">
    <div class="jumbotron text-center contenido">
        <h1>{{resultadosVM.poll.name}}</h1>
        <p>{{resultadosVM.poll.description}}</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Resultados por pais</div>
                <div class="panel-body">
                    <canvas id="polar-area" class="chart chart-polar-area" chart-data="resultadosVM.CharPolar.data" chart-labels="resultadosVM.CharPolar.labels" chart-options="resultadosVM.CharPolar.options"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Resultados por pais</h2>
            <p>Esta gráfica muestra el número de contestaciones a la votación dividido por país.Para ver el detalle de los resultados por país solo es necesario dejar el puntero del raton sobre la sección del gráfico.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Resultados a lo largo del tiempo</h2>
            <p>Esta gráfica muestra el número de contestaciones a la votación a lo largo del tiempo. La fecha esta en formato dia-mes-año.
            </p>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="resultadosVM.charLine.data" chart-labels="resultadosVM.charLine.labels" chart-series="resultadosVM.series" chart-options="resultadosVM.options" chart-dataset-override="resultadosVM.datasetOverride" chart-click="resultadosVM.onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Han contestado un total de
            {{resultadosVM.totalResultados}}
            personas</h4>
        <div ng-repeat="resultado in resultadosVM.resultados">
            <h3>{{resultado._id}}</h3>
            <div ng-repeat="pregunta in resultado.answers" class="progress" style="height:50px">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{(pregunta.total*100)/resultadosVM.totalResultados}}%">
                    <h4>
                        {{pregunta.answer}}
                        {{((pregunta.total*100)/resultadosVM.totalResultados).toFixed(2)}}%
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
