<div ng-controller="dashboardPollCtrl as dashboardPollVM" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Crea una votación</h1>
    <form role="form" ng-submit="dashboardPollVM.guardar()">
        <div class="jumbotron text-center">
            <div class="row">
              <div class="form-group">
                <h1><input class="col-md-12" type="text" ng-model="dashboardPollVM.poll.name" placeholder="Nombre de la votación"></h1>
              </div>
              <div class="form-group" style="margin-top:110px">
                <textarea class="col-md-12" ng-model="dashboardPollVM.poll.description" placeholder="Descripcción de la votación"></textarea>
              </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-group">
                <label for="owner">Propietario</label>
                <input disabled type="text" class="form-control" id="owner" ng-model="dashboardPollVM.poll.ownerName">
            </div>

            <div class="checkbox">
                <label><input type="checkbox" ng-model="dashboardPollVM.poll.isPublic">
                    Pública</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="dashboardPollVM.poll.resultIsPublic">
                    Resultados públicos</label>
            </div>
            <div ng-if="!dashboardPollVM.modoEdicion" class="checkbox">
                <label><input type="checkbox" ng-model="dashboardPollVM.poll.published">
                    Guardar como borrador</label>
            </div>

            <div class="row">
                <div class="panel panel-primary" ng-repeat="question in dashboardPollVM.poll.questions">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="question.text" placeholder="Pregunta... ?" required>
                            </div>
                            <div class="col-sm-4">
                                <button ng-if="dashboardPollVM.poll.questions.length>1" type="button" ng-click="dashboardPollVM.deleteQuestion($index)" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div ng-repeat="answer in question.answers" style="margin: 10px">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="answer.text" placeholder="Respuesta..." required>
                                    </div>
                                    <div class="col-sm-4">
                                        <button ng-if="question.answers.length>1" type="button" ng-click="dashboardPollVM.deleteAnswer(question, $index)" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                            <button ng-if="question.answers.length < 10" type="button" ng-click="dashboardPollVM.newAnswer(question)" class="btn btn-default" style="display: block; width: 100%;">nueva respuesta</button>
                        </div>
                    </div>
                </div>
                <button ng-if="dashboardPollVM.poll.questions.length < 50" type="button" ng-click="dashboardPollVM.newQuestion()" class="btn btn-default" style="display: block; width: 100%;">Nueva pregunta</button>
            </div>
            <input type="submit" class="btn btn-success" style="margin-top:10px" value="Guardar">
        </form>
        <div ng-if="dashboardPollVM.mensajeError" class="alert alert-danger">
            <strong></strong>
            {{dashboardPollVM.mensajeError}}
        </div>
        <div ng-if="dashboardPollVM.mensajeExito" class="alert alert-success">
            <strong></strong>
            {{dashboardPollVM.mensajeExito}}
        </div>
    </div>
</div>
