<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Parrot poll</title>
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/theme.min.css">
        <link rel="stylesheet" href="stylesheets/estilos.css">
        <link rel="stylesheet" href="./bower_components/angular-loading-bar/build/loading-bar.min.css">
        <script src="./bower_components/angular/angular.min.js" charset="utf-8"></script>
        <script src="./bower_components/angular-route/angular-route.min.js" charset="utf-8"></script>
        <script src="./bower_components/angular-loading-bar/build/loading-bar.min.js" charset="utf-8"></script>
        <script src="./bower_components/angular-messages/angular-messages.min.js" charset="utf-8"></script>
        <script src="./bower_components/angular-cookies/angular-cookies.min.js" charset="utf-8"></script>
        <script src="./bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
        <script src="app/app.js" charset="utf-8"></script>
        <script src="app/index.js" charset="utf-8"></script>
        <script src="app/login/login.js" charset="utf-8"></script>
        <script src="app/poll/poll.js" charset="utf-8"></script>
        <script src="app/dashboard/dashboard.js" charset="utf-8"></script>
        <script src="app/dashboard/dashboard_poll.js" charset="utf-8"></script>
    </head>
    <body ng-app="parrotPollApp">
        <div ng-view></div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </footer>
    </body>
</html>
