<div ng-controller="homeCtrl as homeVM">
    <div class="jumbotron text-center cabecera">
        <h1>Parrot poll</h1>
        <p>Aplicación de votaciones. comienza ya!! </p>
    </div>
    <div ng-controller="indexCtrl" class="container-fluid">
        <div class="row">
            <div ng-repeat="poll in homeVM.polls" class="col-sm-4 poll" ui-sref="pollResult({pollId:poll._id})">
              <div class="col-sm-12">
                <img src="images/interrogarion_green.jpg" alt="interrogacion" />
              </div>
              <div class="col-sm-12">
                <div class="poll-item">
                    <h3>{{poll.name}}</h3>
                    <p>{{poll.description}}</p>
                    <p>Hace {{homeVM.calcularFecha(poll.creationDate)}} días.</p>
                </div>
              </div>

            </div>
        </div>
        <button class="btn btn-primary" style="display: block; width: 100%;" ng-show="homeVM.paginaActual<homeVM.maxPaginas" ng-click="homeVM.siguientePagina()">Cargar mas</button>
    </div>
</div>
