<div ng-controller="pollCtrl">
    <div class="jumbotron text-center contenido">
        <h1>{{poll.name}}</h1>
        <p>{{poll.description}}</p>
    </div>
    <div class="container">
        <div class="row" ng-show="!mensajeFinal || !resultados">
            <div class="panel panel-primary" ng-repeat="question in poll.questions">
                <div class="panel-heading">¿¿
                    {{question.text}}
                    ??</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div style="margin: 10px" ng-repeat="answer in question.answers">
                            <div class="row" ng-class="{seleccionada: answer.selected}">
                                <div class="col-sm-4">
                                    <button type="button" ng-click="seleccionar(question,answer)" class="btn btn-default" style="display: block; width: 100%;">seleccional</button>
                                </div>
                                <div class="col-sm-8">
                                    {{answer.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="mensajeFinal">
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    {{mensajeFinal}}
                </div>
            </div>
            <div ng-show="resultados">
                {{resultados}}
            </div>
        </div>
        <button type="button" ng-click="guardar()" class="btn btn-default" style="display: block; width: 100%;">guardar</button>
    </div>
</div>
